/* Utility Classes */
.default-bg {
    background-color: #F0F2F5;
}

.white-bg {
    background-color: #FFFFFF;
}




/* CSS */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    /* overflow: hidden; */
    padding: 0;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.vertical-divider {
    width: 0.7px;
    background-color: #D9DBDF;
}




/* Nav Row */
#nav {
    width: 60px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#nav .btns {
    display: flex;
    position: relative;
    margin: 10px 0;
    align-items: center;
}

.active, .clicked {
    border-radius: 20px;
    height: 40px;
    width: 40px;
    background-color: #D9DBDF;
}

#nav img, .heading img {
    width: 24px;
    height: 24px;
    padding: 8px;
}

.btns button {
    background-color: #25292c;
    border: none;
    outline: none;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 5px 16px;
    position: absolute;
    top: 10px;
    left: 48px;
    z-index: 10;
    display: none;
}

.my-profile {
    background-image: url(./images/my-profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#nav .my-profile {
    height: 32px;
    width: 32px;
    margin: 4px;
    border-radius: 16px;
}





/* Master */
#master {
    width: 29%;
    min-width: 340px;
    position: relative;
}

.contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
}


/* Header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
}

#master .heading {
    padding-left: 25px;
    padding-right: 20px;
    height: 59px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.heading h2 {
    padding: 0;
    margin: 0;  
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
}

.heading .btns {
    display: flex;
}

.heading .btns div {
    height: 40px;
    width: 40px;
}

.header .menu {
    top: 54px;
    right: 25px;
}

.menu {
    position: absolute;
    z-index: 10 !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    border-radius: 3px;
    width: 228px;
    display: none;
}

.menu ul {
    padding: 8px 0;
    margin: 0;
    list-style: none;
}

.menu li {
    padding: 10px 23px;
    color: #54656F;
    font-size: 15px;
    font-weight: 400;
}

.menu li:hover {
    background-color: rgb(240, 242, 245, 0.6);
}

.search {
    margin: 6px 12px;
    
    border-radius: 8px;
    height: 35px;   
    align-items: center;
    position: relative;
}

.search .img {
    margin-left: 17px;
}

img.search-icon {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 10px;
}

img.back {
    height: 18px;
    width: 18px;  
    position: absolute;
    top: 8px;  
}

img.cancel {
    margin-left: 5px;
    position: absolute;
    top: 10px;
    height: 15px;
    width: 15px;
}

img.back, img.cancel {
    display: none;
}

.search input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 286px;
    height: 22px;
    margin-left: 65px;
    padding: 5.5px 0;
    font-size: 15px;
    font-weight: 400;
}

/* .search input:focus img.back{
    display: block;
} */

.filter-btns {
    margin: 0 12px;
    padding: 2px 0 6px 0;
}

.filter-btns button {
    
    border: none;
    padding: 6px 13px;
    margin: 1.5px;
    border-radius: 17px;
}

.filter-btns button span {
    color: #54656F;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.filter-btns .selected {
    background-color: #E7FCE3;
}

.filter-btns .selected span {
    color: #008069;
}


/* Chat-Room */
.chat-room .contents {
    margin-top: 149px;
    height: calc(100vh - 149px);
}

.chat {
    height: 70px;
    align-items: center;
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    color: #54656F;
    cursor: pointer;
    position: relative;
}

.chat:hover {
    background-color: rgb(240, 242, 245, 0.6);
}

.chat:hover img.open {
    display: block;
}

.chat .menu {
    top: 30px;
    right: 50px;
    width: 180px;
}

.profile-pic {
    margin: 12px;
    height: 49px;
    width: 49px;
    border-radius: 25px;
    background-color: #DFE5E7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic .user {
    height: 35px;
    width: 35px;
}

.preview .content {
    padding: 12px;
    padding-left: 0;
    position: relative;
}

.preview p, h3 {
    padding: 0;
    margin: 0;
}

.preview .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact-name {
    padding: 0;
    margin: 0;
    color: black !important;
    font-size: 16px;
    font-weight: 400;
}

.preview .date-time {
    font-size: 12px;
}

.preview img {
    height: 17px;
    width: 17px;
}

img.tick {
    position: absolute;
    top: 36px;
}

.content p {
    margin-left: 20px;
}

img.open {
    position: absolute;
    top: 38px;
    right: 15px;
    display: none;
}

.horizontal-divider{
    width: 100%;
    height: 1px; 
}


/* Communities */
.community .contents, .status .contents, .profile .contents {
    margin-top: 59px;
    height: calc(100vh - 59px);
}


/* Status */


/* Channel */
.channel .contents, .settings .contents {
    margin-top: 106px;
    height: calc(100vh - 106px);
}


/* Settings */
.profile-open {
    display: flex;
    flex-direction: row;
    padding: 12px;
}

.profile-open .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-open p {
    margin: 0;
    padding: 0;
}

.settings .my-profile {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin-right: 12px; 
}

.setting {
    height: 60px;
    align-items: center;
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    cursor: pointer;
}

.setting:hover {
    background-color: rgb(240, 242, 245, 0.6);
}

.setting-icon img {
    height: 24px;
    width: 248x;
    margin: 18px 25px;
}

.setting-name p {
    margin: 0;
    padding: 16px;
    font-size: 17px;
    line-height: 22px;  
    font-weight: 400;
}

.setting:last-child p {
    color: #EE3360;
}


/* Profile */
.set-open {
    display: flex;
    justify-content: left !important;
    display: none !important;
}

.set-open img {
    padding: 0 !important;
}

.set-open p {
    margin-left: 35px !important;
    font-size: 16px !important;
    line-height: 32px;
    font-weight: 400;
    color: rgb(17, 27, 33);
}

.profile .icon {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile .my-profile {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.profile .input {
    padding: 15px 30px;
}

.profile p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
}

.profile .input p {
    line-height: 17px;
    color: #008069;
}

.profile .note {
    padding: 15px 30px 20px 30px;
}

.profile .default-bg p {
    color: #54656F;
    line-height: 20px;
}




/* Detail */
#details {
    width: calc(100vw - 29vw - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Default */
.default {
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 60%;
    align-items: center;
    justify-content: center;
    color: #54656F;
    display: none;
}

.default img {
    width: 320px;
    margin-bottom: 30px;
}

.default h1 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 300;
    text-align: center;
    padding: 0;
    margin: 0;
}

.default p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin: 30px 0;
    padding: 0;
}

.default button {
    background-color: #008069;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-family: 'Segoe UI';
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    border-radius: 20px;
    padding: 10px 24px;
}

.default p:last-child {
    color: #8696A0;
}

.default p:last-child img{
    margin: 0;
    margin-top: 6px;
    height: 12px;
    width: 10px;
    padding-right: 2px;
}


/* Chat Screen */
.chat-screen {
    height: 100%;
    width: 100%;
    position: relative;
}

.chat-screen .header {
    position: absolute;
    top: 0;
    width: calc(100% - 32px);
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.chat-screen .profile-pic {
    padding: 0;
    margin: 0;
    height: 40px;
    width: 40px;
}

.chat-screen .left, .chat-screen .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.chat-screen .header .right .drop {
    border-radius: 20px;
    /* border: 1px solid #A2ACB2; */
    border: none;
}

.chat-screen .header .right .drop img{
    height: 18px;
    width: 18px;
}

.chat-screen .right .btns {
    gap: 15px;
}

.chat-screen .btns {
    display: flex;
    position: relative;
    align-items: center;
}

.chat-screen .btns img {
    padding: 5px;
    height: 26px;
    width: 26px;
}

.msg-box {
    height: calc(100% - 120px);
    margin-top: 60px;
    margin-bottom: 60px;
    width: calc(100% -30px);
    background-image: url(./images/chat-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 60px;
}

.chat-screen .date-day {
    background-color: #FFFFFF;
    padding: 5px 12px 6px 12px;
    display: inline-block;
    border-radius: 8px;
}

.chat-screen .date-day h4 {
    font-size: 13px;
    line-height: 21px;
    color: #54656F;
    font-weight: 400;
    margin: 0;
}

.chat-screen .msg {
    z-index: 10;
    border-radius: 8px;
}

.chat-screen .msg img {
    display: none;
}

.chat-screen .msg:hover .chat-screen .msg img {
    display: block;
}

.chat-screen .msg.sent {
    background-color: #D9FDD3;
}

.chat-screen .msg.recieved {
    background-color: #FFFFFF;
}

.chat-screen .msg-text {
    font-size: 14px;
    line-height: 19px;
    color: black;
    font-weight: 400;
}

.chat-screen .footer {
    padding: 10px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 32px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.footer .type-msg {
    width: 86%;
}

.footer input {
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 9px 12px;
    color: #54656F;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    width: 96%;
}