/* Utility Classes */
.default-bg {
    background-color: #F0F2F5 !important;
}

.white-bg {
    background-color: #FFFFFF !important;
}

p {
    margin: 0;
    padding: 0;
}

.btns{
    display: flex;
    align-items: center;
}




/* CSS */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow: overlay;
    padding: 0;
    margin: 0;
}

#app {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    position: relative;
}

.vertical-divider {
    width: 0.7px;
    background-color: #D9DBDF;
}




/* Nav Row */
#nav {
    width: 60px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#nav .btns {
    position: relative;
    margin: 10px 0;
}

.active, .clicked {
    border-radius: 20px;
    height: 40px;
    width: 40px;
    background-color: #D9DBDF;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav img, .heading img {
    width: 24px;
    height: 24px;
    padding: 8px;
}

.btns button {
    background-color: #25292c;
    border: none;
    outline: none;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 5px 16px;
    position: absolute;
    top: 10px;
    left: 48px;
    z-index: 10;
    display: none;
}

.my-profile {
    background-image: url(./data/profiles/sahil.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#nav .my-profile {
    height: 32px;
    width: 32px;
    margin: 4px;
    border-radius: 16px;
}





/* Master */
#master {
    width: 29%;
    min-width: 340px;
    position: relative;
}

.contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
}


/* Header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
}

#master .heading {
    padding-left: 25px;
    padding-right: 20px;
    height: 59px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.heading h2 {
    padding: 0;
    margin: 0;  
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
}

.heading .btns div {
    height: 40px;
    width: 40px;
}

.header .menu {
    top: 54px;
    right: 25px;
}

.menu {
    position: absolute;
    z-index: 10 !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    border-radius: 3px;
    width: 228px;
    display: none;
}

.menu ul {
    padding: 8px 0;
    margin: 0;
    list-style: none;
}

.menu li {
    padding: 10px 23px;
    color: #54656F;
    font-size: 15px;
    font-weight: 400;
}

.menu li:hover {
    background-color: rgb(240, 242, 245, 0.6);
}

.search {
    margin: 6px 12px;
    
    border-radius: 8px;
    height: 35px;   
    align-items: center;
    position: relative;
}

.search .img {
    margin-left: 17px;
}

img.search-icon {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 10px;
}

img.back {
    height: 18px;
    width: 18px;  
    position: absolute;
    top: 8px;  
}

img.cancel {
    margin-left: 5px;
    position: absolute;
    top: 10px;
    height: 15px;
    width: 15px;
}

img.back, img.cancel {
    display: none;
}

.search input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 286px;
    height: 22px;
    margin-left: 65px;
    padding: 5.5px 0;
    font-size: 15px;
    font-weight: 400;
}

.filter-btns {
    margin: 0 12px;
    padding: 2px 0 6px 0;
}

.filter-btns button {
    
    border: none;
    padding: 6px 13px;
    margin: 1.5px;
    border-radius: 17px;
}

.filter-btns button span {
    color: #54656F;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.filter-btns .selected {
    background-color: #E7FCE3;
}

.filter-btns .selected span {
    color: #008069;
}


/* Chat-Room */
.chat-room .contents {
    margin-top: 149px;
    height: calc(100vh - 149px);
}

.chat {
    height: 70px;
    align-items: center;
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    color: #54656F;
    cursor: pointer;
    position: relative;
}

.chat .attach {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 22px;
}

.chat .attach img {
    padding-top: 2.5px;
}

.chat:hover {
    background-color: rgb(240, 242, 245, 0.6);
}

.chat:hover img.open-menu {
    display: block;
}

.chat .menu {
    top: 30px;
    right: 50px;
    width: 180px;
}

.profile-pic {
    margin: 12px;
    height: 49px;
    width: 49px;
    border-radius: 25px;
    background-color: #DFE5E7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic .user {
    height: 35px;
    width: 35px;
}

.preview .content {
    padding: 12px;
    padding-left: 0;
    position: relative;
}

.preview p, h3 {
    padding: 0;
    margin: 0;
}

.preview .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact-name {
    padding: 0;
    margin: 0;
    color: black !important;
    font-size: 16px;
    font-weight: 400;
}

.preview .date-time {
    font-size: 12px;
}

.preview img {
    height: 17px;
    width: 17px;
}

img.tick {
    position: absolute;
    top: 36px;
}

.content p {
    margin-left: 20px;
}

img.open-menu {
    position: absolute;
    top: 38px;
    right: 15px;
    display: none;
}

.horizontal-divider{
    width: 100%;
    height: 1px; 
}


/* Contacts List */
.contacts-list {
    display: none;
}

.contacts-list .heading{
    background-color: #008069;
    padding-top: 50px;
    color: #FFFFFF;
    justify-content: left !important;
    gap: 20px;
}

.contacts-list .heading h2 {
    font-size: 19px !important;
    font-weight: 500;
}

.contacts-list .contents {
    margin-top: 156px;
    height: calc(100vh - 156px);
}

.contacts-list .new {
    display: flex;
    align-items: center;
}

.contacts-list .new .profile-pic {
    background-color: #008069;
}

.contacts-list .new img {
    height: 30px;
    width: 30px;
}

.contacts-list .new .preview {
    width: calc(100% - 49px);
}

.contacts-list .new p {
    margin: 0;
    padding: 24.5px;
}

.contacts-list .label {
    color: #008069;
    font-weight: 450;
    padding: 25px;
}

.contacts-list .chat.contact .horizontal-divider, .chat.me .horizontal-divider{
    position: relative;
}

.contacts-list .chat.contact .horizontal-divider, .chat.me .horizontal-divider{
    position: absolute;
    top: -0.5px;
}

.contacts-list .chat p {
    margin: 0;
}


/* Communities */
.community .contents, .status .contents, .profile .contents {
    margin-top: 59px;
    height: calc(100vh - 59px);
}


/* Status */


/* Channel */
.channel .contents, .settings .contents {
    margin-top: 106px;
    height: calc(100vh - 106px);
}


/* Settings */
.profile-open {
    display: flex;
    flex-direction: row;
    padding: 12px;
}

.profile-open .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-open p {
    margin: 0;
    padding: 0;
}

.settings .my-profile {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin-right: 12px; 
}

.setting {
    height: 60px;
    align-items: center;
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    cursor: pointer;
}

.setting:hover {
    background-color: rgb(240, 242, 245, 0.6);
}

.setting-icon img {
    height: 24px;
    width: 248x;
    margin: 18px 25px;
}

.setting-name p {
    margin: 0;
    padding: 16px;
    font-size: 17px;
    line-height: 22px;  
    font-weight: 400;
}

.setting:last-child p {
    color: #EE3360;
}


/* Profile */
.set-open {
    display: flex;
    justify-content: left !important;
    display: none !important;
}

.set-open img {
    padding: 0 !important;
}

.set-open p {
    margin-left: 35px !important;
    font-size: 16px !important;
    line-height: 32px;
    font-weight: 400;
    color: rgb(17, 27, 33);
}

.profile .icon {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile .my-profile {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.profile .input {
    padding: 15px 30px;
}

.profile p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
}

.profile .input p {
    line-height: 17px;
    color: #008069;
}

.profile .note {
    padding: 15px 30px 20px 30px;
}

.profile .default-bg p {
    color: #54656F;
    line-height: 20px;
}




/* Detail */
#details {
    width: calc(100vw - 29vw - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Default */
.default {
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 60%;
    align-items: center;
    justify-content: center;
    color: #54656F;
}

.default img {
    width: 320px;
    margin-bottom: 30px;
}

.default h1 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 300;
    text-align: center;
    padding: 0;
    margin: 0;
}

.default p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin: 30px 0;
    padding: 0;
}

.default button {
    background-color: #008069;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-family: 'Segoe UI';
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    border-radius: 20px;
    padding: 10px 24px;
}

.default p:last-child {
    color: #8696A0;
}

.default p:last-child img{
    margin: 0;
    margin-top: 6px;
    height: 12px;
    width: 10px;
    padding-right: 2px;
}


/* Chat Screen */
.chat-screen {
    height: 100%;
    width: calc(100%);
    position: relative;
}

.chat-screen .header {
    position: absolute;
    top: 0;
    width: calc(100% - 32px);
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.chat-screen .profile-pic {
    padding: 0;
    margin: 0;
    height: 40px;
    width: 40px;
}

.chat-screen .left, .chat-screen .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.chat-screen .header .right button {
    border-radius: 4px;
    border: 1px solid #A2ACB2;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat-screen .header .right button img {
    height: 18px;
    width: 18px;
}

.chat-screen .header .menu {
    width: 220px;
    z-index: 15 !important;
    top: 55px;
    right: 20px;
}

.chat-screen .right .btns {
    gap: 15px;
}

.chat-screen .btns {
    position: relative;
}

.chat-screen .btns img {
    padding: 5px;
    height: 26px;
    width: 26px;
}

.msg-box {
    height: calc(100vh - 145px);
    margin-top: 60px;
    margin-bottom: 60px;
    background-image: url(./images/background-cream.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 12px 60px;
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    align-items: center;
}

.msg-row {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    width: 100%;
}

.date-day, .msg {
    display: inline-flex;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 1px .5px rgba(0, 0, 0, .13);
    position: relative;
    z-index: 10;
    max-width: fit-content;
}

.date-day {
    padding: 5px 12px 6px 12px;
    margin: 10px 0;
}

.on-top {
    position: absolute;
    top: 70px;
    left: 44.5%;
    z-index: 20;
}

.date-day h4 {
    font-size: 13px;
    line-height: 21px;
    color: #54656F;
    font-weight: 400;
    margin: 0;
}

.msg {
    max-width: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.msg img[src = "./images/icons/down.png"] {
    height: 30px;
    width: 30px;
}

.msg .attachment {
    width: calc(100% - 6px);
    max-height: 300px;
    border-radius: inherit;
    margin: 3px;
}

.msg .docm {
    background-color: #D1F4CC;
    margin: 3px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    min-width: 280px;
}

/* Not using this now */
/* .msg .docm .doc-bg-img {
    background-image: url(./data/attachments/images/1.png);
    background-size: cover;
    height: 100px;
    min-width: 300px;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
} */

.msg .docm .doc-info {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.msg:not(:has(.msg-text)) .docm .doc-info {
    padding-bottom: 20px;
}

.doc-info .data {
    display: flex;
    flex-direction: column;
    width: 58%;
    font-size: 14px;
    line-height: 19px;
}

.doc-info .data .down {
    display: flex;
    gap: 10px;
    align-items: left;
    color: #54656F;
    font-size: 11px;
}

.docm img {
    height: 32px;
    width: 32px;
}

.docm .btns {
    border: #54656F 1px solid;
    border-radius: 25px;
    padding: 8px;
}

.docm .btns img {
    height: 20px;
    width: 20px;
}

.msg .docm a {
    text-decoration: none;
    color: black;
}

.msg.sent {
    background-color: #D9FDD3;
    margin-left: auto;
}

.msg.sent .msg-text{
    padding: 0 70px 0 0;
}

.msg.recieved {
    background-color: #FFFFFF;
    margin-right: auto;
}

.msg.recieved .msg-text{
    padding: 0 50px 0 0;
}

.msg:has(.left-upper):not(:has(.attachment)) > .msg-text {
    padding-top: 18px;
}

.msg:has(.left-upper):has(.attachment) > .msg-text {
    padding-top: 0;
    left: 0;
}

.msg:has(.left-upper):has(.attachment) > .attachment {
    margin-top: 25px;
}

.msg .left-upper {
    position: absolute;
    top: 3px;
    left: 10px;
}

.msg .left-upper a {
    font-size: 13px;
    line-height: 22px;
    font-weight: 500;
    text-decoration: none;
}

.msg .left-upper a:hover {
    text-decoration: underline;
}

.msg .right-bottom {
    position: absolute;
    bottom: 3px;
    right: 6px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.msg-text {
    margin: 6px 7px 8px 9px !important;
    font-size: 14px;
    line-height: 19px;
    color: black;
    font-weight: 400;
    margin: 0;
    max-width: 500px;
    word-break: break-word;
}

.msg .right-bottom img {
    height: 15px;
    width: 15px;
}

.msg .time {
    color: #54656F;
    font-size: 11px;
    line-height: 15px;
}

.msg .img-hover {
    position: absolute;
    border-radius: 12px;
    height: 24px;
    width: 24px;
    display: none;
    align-items: center;
    justify-content: center;
}

.msg .menu-hover {
    top: 4px;
    right: 2px;
}

.msg.sent .menu-hover {
    background-color: #D9FDD3;
}

.msg.sent .menu {
    top: 25px;
    right: 10px;
    width: 120px;
}

.msg.recieved .menu-hover {
    background-color: #FFFFFF;
}

.msg.recieved .menu {
    top: 25px;
    right: -80px;
    width: 120px;
}

.menu-hover img {
    height: 24px;
    width: 24px;
}

.msg.sent .emoji-hover {
    background-color: rgba(0, 0, 0, .13);
    top: 4.5px;
    left: -30px;
}

.msg.recieved .emoji-hover {
    background-color: rgba(0, 0, 0, .13);
    top: 4.5px;
    right: -30px;
}

.emoji-hover img {
    height: 20px;
    width: 20px;
}

.msg-row:hover .img-hover {
    display: flex;
}

.chat-screen .footer {
    padding: 10px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 32px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.doc-menu {
    position: absolute;
    z-index: 10 !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    border-radius: 12px;
    width: 200px;
    display: none;
    bottom: 60px;
    left: 50px;
}

.doc-menu ul {
    padding: 8px 0;
    margin: 0;
    list-style: none;
}

.doc-menu li {
    padding: 10px 23px;
    color: #54656F;
    font-size: 15px;
    font-weight: 400;
}

.doc-menu li:hover {
    background-color: rgb(240, 242, 245, 0.6);
}

.doc-menu p {
    padding: 0;
    margin: 0;
}

.doc-menu div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.doc-menu img {
    height: 20px;
    width: 20px;
}

.footer .type-msg {
    width: 86%;
}

.footer input {
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 9px 12px;
    color: #54656F;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    width: 96%;
}


/* Camera */
.cam-tab {
    display: none;
}

.camera-click {
    margin-top: 60px;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.camera-click .header {
    width: calc(100% - 60px);
    background-color: #008069;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 10px 30px !important;
    gap: 30px;
}

.camera-click .header p {
    font-size: 19px;
    font-weight: 500;
    line-height: 32px;
}

.camera-click .header img {
    height: 20px;
    width: 20px;
}

.snap-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cam-video {
    margin-top: 60px;
    height: 400px;
}

#cam {
    width: inherit;
    height: inherit;
    transform: scaleX(-1);
}

.camera-click button {
    position: absolute;
    background-color: #008069;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.camera-click .send-pv {
    right: 50px;
}

.click {
    bottom: 50px;
}

.camera-click .edit-image, .camera-click .edit-doc {
    padding-top: 10px;
}

.pv-upload-tab, .doc-upload-tab {
    display: none;
}

.pv-upload-tab .close, .doc-upload-tab .close {
    position: absolute;
    left: 50px;
    top: 100px;
}

.edit-image, .edit-doc {
    width: 100%;
    padding-bottom: 50px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.camera-click canvas {
    margin: 50px;
    width: 340px;
    height: 180px;
    transform: scaleX(-1);
}

.edit-doc .d-pdf, .edit-doc .d {
    display: none;
    margin: 40px;
    height: 250px;
    width: 350px;
}

.edit-doc .d {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.1);
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 500;
}

.edit-image canvas {
    margin: 50px;
    width: 340px;
    height: 250px;
}

.pv-upload-tab video {
    max-height: 250px;
    margin: 20px 0 30px 0;
}

.send-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.send-footer .type-caption {
    width: 60%;
}

.edit-image input, .edit-doc input {
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 9px 12px;
    color: #54656F;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    width: 96%;
}

.send-pv {
    padding: 18px;
    border-radius: 35px;
    border: none;
    background-color: #008069;
}

.pv-upload-tab .send-pv , .doc-upload-tab .send-pv {
    position: absolute;
    right: 50px;
    bottom: 50px;
}




/* Profile info */
.profile-info {
    min-width: calc((100vw - 29vw - 60px)/3);
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

.profile-info .user {
    height: 100px;
    width: 100px;
}

.profile-info p, .profile-info span {
    margin: 0;
    padding: 0;
}

.profile-info .head {
    color: #54656F;
    font-size: 15px;
    line-height: 23px;
}

.profile-header, .profile-info .about, .profile-info .media {
    padding: 0 30px;
    padding-bottom: 19px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile-header {
    padding-top: 28px;
    align-items: center;
    justify-content: center;
}

.profile-header .heading {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    gap: 25px;
}

.profile-header img {
    height: 24px;
    width: 24px;
}

.profile-header .profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.profile-header .contact-name {
    font-size: 24px;
    font-weight: 400;
    color: #54656F !important;
}

.profile-header .number {
    color: #8696A0;
    font-size: 16px;
    line-height: 24px;
}

.profile-info .about {
    padding-top: 17px;
    align-items: left;
    justify-content: center;
}

.profile-info .about .about-them {
    font-size: 17px;
    line-height: 22px;
}

.profile-info .media {
    padding-top: 17px;
    align-items: left;
    justify-content: center;
}

.profile-info .media .head {
    display: flex;
    justify-content: space-between;
}

.media .head span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.media .head img {
    height: 15px;
    width: 15px;
}

.profile-info .media .media-row {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.media-row .attach {
    height: 87px;
    width: 95px;
    padding: 2px;
    border-radius: 3px;
}

.media-row .attach img, .media-row .attach video {
    width: 100%;
    height: 100%;
}

.profile-info .info .row {
    display: flex;
    font-size: 17px;
    line-height: 22px;
    color: #54656F;
    padding: 25px 30px;
    justify-content: space-between;
    align-items: center;
}

.row .switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 15px;
}

.row .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.row .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #A2ACB2;
    -webkit-transition: .4s;
    transition: .4s;
}

.row .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 0;
    bottom: -3px;
    background-color: #D9DBDF;
    -webkit-transition: .4s;
    transition: .4s;
}

.row input:checked + .slider {
    background-color: #E7FCE3;
}

.row input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
    background-color: #008069;
}

.row .slider.round {
    border-radius: 20px;
}

.row .slider.round:before {
    border-radius: 50%;
}

.row .left {
    display: flex;
    gap: 20px;
    align-items: start;
}

.row .left img {
    margin-top: 2px;
}

.row .left .small {
    font-size: 14px;
    line-height: 20px;
}

.profile-info .info .row img {
    height: 20px;
    width: 20px;
}

.profile-info .info .row img[src="./images/icons/next.png"] {
    height: 15px;
    width: 15px;  
}

.profile-info .info .head {
    padding: 17px 30px 5px 30px;
}

.profile-info .info .group-row {
    padding: 10px 30px;
}

.profile-info .info .group-row:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.profile-info .options .row {
    display: flex;
    gap: 30px;
    color:  rgb(224, 0, 56);
    font-size: 17px;
    line-height: 22px;
    padding: 17px 30px;
}

.profile-info .options .row:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.profile-info .options .row img {
    height: 24px;
    width: 24px;
}




/* Search Tab */
.search-tab{
    min-width: calc((100vw - 29vw - 60px)/3);
    display: none;
}

.search-tab .search-header {
    padding-bottom: 10px;
}

.search-tab .heading, .search-tab .filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.search-tab .heading {
    padding: 0 20px 0 25px;
}

.search-tab .heading img {
    height: 24px;
    width: 24px;
}

.search-tab .heading p {
    font-size: 16px;
    line-height: 32px;
    font-size: 400;
    padding-left: 20px;
}

.search-tab .filter {
    padding: 0 12px;
    gap: 12px;
}

.search-tab .filter .search {
    width: 92%;
    margin: 0 !important;
}

.search-tab .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 110px);
    overflow-y: auto;
    overflow-x: hidden;
}

.search-tab .content .comment {
    color: #8696A0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}



/* 1300 se niche me search pura occupy krr lega aur details hide ho jaega */
/* Same with others */




.call {
    z-index: 50;
    position: absolute;
    top: 10px;
    left: 250px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    display: none;
    min-height: 525px;
    min-width: 850px;
}

.call .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 26.6%;
    padding: 12px;
}

.call .left, .call .right, .call .center {
    display: flex;
    align-items: center;
}

.call .left img, .call .right img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.call .center {
    color: #54656F;
    font-size: 13px;
}

.call .center img {
    width: 15px;
    height: 15px;
    margin-right: 5px;  
}

.call .right .btns {
    flex-direction: row;
    justify-content: right;
    gap: 20px;
}

.call .bg {
    background-image: url(./images/background-cream.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    margin: 48px 12px 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    min-height: calc(525px - 128px);
}

.call .bg .profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 0;
}

.call .bg p {
    margin: 10px;
}

.call .bg .name {
    font-size: 19px;
    font-weight: 450;
}

.video-screen {
    width: 330px;
    margin-top: 10px;
}

#webcam {
    width: inherit;
    height: inherit;
    transform: scaleX(-1);
    border-radius: 8px !important;
}

.call .footer .btns{
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.call .footer img {
    height: 30px;
    width: 30px;
}

.end-call {
    background-color: rgb(224, 0, 56);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 5px 15px;
}